[Desktop Entry]
Name=Nautilus PyExtensions
Comment=Nautilus Python Extensions Handler
Comment[it]=Gestore Estensioni Python a Nautilus
Comment[fr]=Gesteur des extensions PyExtension pour Nautilus
Exec=nautilus-pyextensions
Icon=/usr/share/icons/hicolor/scalable/apps/nautilus-pyextensions.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
